.special-list {
    color: white;
    list-style-type: circle;
    padding-left: 16px;
}

.special-list li:not(:last-child) {
    margin-bottom: 4px;
}

.special-list .material-icons {
    vertical-align: middle;
    margin-right: 6px;
}

.offers-text .material-icons {
    animation: shakeIt 0.5s infinite ease-in-out;
}

.elementor-element-2b07862b {
    margin: 42px 0px;
}

@keyframes shakeIt {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(8deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-8deg); }
    100% { transform: rotate(0deg); }
}